.idea
TempSystem.gradle
TempSystem/local.properties
TempSystem/.idea/workspace.xml
TempSystem/.idea/libraries
TempSystem/.DS_Store
TempSystem/build
TempSystem/captures
.DS_Store
.Trashes
TempSystem/.idea/
TempSystem/*.iml
TempSystem/.gradle/
TempSystem/build/
TempSystem/*.dex
TempSystem/*.class
TempSystem/bin/
TempSystem/gen/
TempSystem/local.properties
TempSystem/proguard/
TempSystem/*.log